html, body{
    background: #eae6e6;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", serif;
    line-height: 30px;
}
* img{
    object-fit: cover;
    object-position: top;
}
/* NAVIGATION */
.main{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eae6e6;
}

nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    /*position: fixed;
    top:0;
    margin: auto auto 0;
    background-color: #eae6e6;
    overflow: hidden;*/
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 15px 20px;
}
li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight:bold;
    border: 1px solid #ab88e3;
    background-color: #e4dcf5;
    border-radius: 15px;
    padding: 10px;
}
li a:hover{
    color: #c07dc0;
    position: relative;
    top: -5px;
}
.now:hover{
    color: white;
}
/* FOOTER */
footer{
    background-color: #ab88ab;
    bottom: 0;
    right: 0;
    left: 0;
    height: auto;
    padding-top: 40px;
    margin-top: 4%;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
footer h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
footer p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 16px;

}
footer ul {
    list-style: none;
    display: inline-block;
    margin: 5px;
}
.socials a{
    margin: 10px;
    text-decoration: none;
}
.socials a:hover{
    position: relative;
    top:-5px
}