.slider{
    overflow: hidden;
}
.slider figure{
    position: relative;
    width: 1000%;
    margin: 0;
    left: 0;
    animation: 30s slider infinite;
}
.slider figure img{
    width: 10%;
    float: left;
    object-fit: initial;
    object-position: center;
}
/*
@keyframes slider {
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }

}*/

@keyframes slider {
    0%{
        left: 0;
    }
    10%{
        left: 0;
    }
    10%{
        left: -100%;
    }
    20%{
        left: -100%;
    }
    20%{
        left: -200%;
    }
    30%{
        left: -200%;
    }
    30%{
        left: -300%;
    }
    40%{
        left: -300%;
    }
    40%{
        left: -400%;
    }
    50%{
        left: -400%;
    }
    50%{
        left: -500%;
    }
    60%{
        left: -500%;
    }
    60%{
        left: -600%;
    }
    70%{
        left: -600%;
    }
    70%{
        left: -700%;
    }
    80%{
        left: -700%;
    }
    80%{
        left: -800%;
    }
    90%{
        left: -800%;
    }
    90%{
        left: -900%;
    }
    100%{
        left: -900%;
    }
}
h1{
    text-align: center;
    color: #397c7c;
    font-family: "Century Gothic", serif;
    font-size: 40px;
    border: 1px solid transparent;
}
.first{
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    line-height: 30px;
}
.intro{
    text-align: center;
    width: 40%;
    align-self: center;
}
.intro p{
    padding-top: 10px;
}
.first h2{
    text-align: center;
    color: #397c7c;
}
.first img, .third img, .second img{
    border-radius: 10px;
}

.second{
    margin: 3% 1% 0 1%;
    display: flex;
    justify-content: space-around;
    line-height: 30px;
}
.kotor{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.second p{
    align-self: center;
    text-align: justify;
    padding: 0 5%;

}
.second #kotor2{
    align-self: start;
}
.second #kotor3{
    align-self: end;
}
.podnaslovi{
    text-align: center;
    font-size: 20px;
    color: #397c7c;
    width: 50%;
    padding-left: 1%;
}

.third{
    display: flex;
    line-height: 30px;
    justify-content: space-around;
    margin-top: 5%;
    flex-direction: row;
}
.third  p{
    display: inline;
    text-align: center;
}
.bogorodica{
    display: flex;
    flex-direction: column;
    width: 35%;
    text-align: center;
}
.bogorodica img{
    alignment: center;
}

.herceg-novi{
    width: 60%;
}

.podnaslovi1{
    text-align: center;
    font-size: 20px;
    color: #397c7c;
    padding: 2%;
}
.naslov{
    width: 70%;
    position: relative;
    margin: 3% auto auto;
}
.naslov hr{
    margin-bottom: 3%;
}

.back{
    margin-left: -130%;
}
.logo{
    margin-left: -30.4%;
}
@media (max-width: 1000px) {
    .third {
        flex-direction: column;
    }
}
@media (max-width: 500px) {
    .first {
        flex-direction: column;
    }
}

