h1{
    text-align: center;
    color: #397c7c;
    font-family: "Century Gothic", serif;
    font-size: 40px;
    border: 1px solid transparent;
}

.intro{
    display: flex;
    justify-content: space-evenly;
    background-color: #b0cec6;
    text-align: center;
    line-height: 30px;
}
.intro p{
    width: 50%;
    align-self: center;
    text-align: right;
}
.container{
    display: flex;
    justify-content: center;
    max-width: 2400px;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 3%;
}
.container img{
    width: 300px;
    height: 200px;
    padding:5px;
}
.naslov{
    width: 70%;
    position: relative;
    margin: 3% auto auto;
}
.naslov hr{
    margin-bottom: 3%;
}
.back{
    margin-left: -130%;
}
.logo{
    margin-left: -30.4%;
}